<nav class="bottom-nav">

    <a href="../index.html" class="bottom-nav-item active">

        <span class="material-symbols-rounded">
            home
        </span>

        <span>Beranda</span>

    </a>

    <a href="../properties/index.html" class="bottom-nav-item">

        <span class="material-symbols-rounded">
            search
        </span>

        <span>Cari</span>

    </a>

    <a href="../listing/add-property.html" class="bottom-nav-item bottom-nav-center">

        <span class="material-symbols-rounded">
            add_circle
        </span>

        <span>Pasang</span>

    </a>

    <a href="../properties/favorites.html" class="bottom-nav-item">

        <span class="material-symbols-rounded">
            favorite
        </span>

        <span>Favorit</span>

    </a>

    <a href="../dashboard/index.html" class="bottom-nav-item">

        <span class="material-symbols-rounded">
            person
        </span>

        <span>Akun</span>

    </a>

</nav>
