<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-brand">
                <a href="index.html" class="footer-logo">
                </a>

                <p>
                    TERAVIA NEO adalah platform properti
                    untuk jual, beli, dan sewa properti
                    seluruh Indonesia.
                </p>


                <div class="footer-social">
                    <a href="#"> Facebook
                    </a>

                    <a href="#">
                        Instagram
                    </a>

                    <a href="#">
                        YouTube
                    </a>

                </div>

            </div>



            <div class="footer-menu">

                <h4>
                    Properti
                </h4>

                <ul>

                    <li>
                        <a href="properties/index.html">
                            Rumah
                        </a>
                    </li>

                    <li>
                        <a href="properties/index.html">
                            Apartemen
                        </a>
                    </li>

                    <li>
                        <a href="properties/index.html">
                            Tanah
                        </a>
                    </li>

                    <li>
                        <a href="properties/index.html">
                            Ruko
                        </a>
                    </li>

                </ul>

            </div>



            <div class="footer-menu">

                <h4>
                    TERAVIA
                </h4>

                <ul>

                    <li>
                        <a href="about.html">
                            Tentang Kami
                        </a>
                    </li>

                    <li>
                        <a href="membership.html">
                            Membership
                        </a>
                    </li>

                    <li>
                        <a href="blog.html">
                            Blog
                        </a>
                    </li>

                    <li>
                        <a href="contact.html">
                            Kontak
                        </a>
                    </li>

                </ul>

            </div>



            <div class="footer-menu">

                <h4>
                    Bantuan
                </h4>

                <ul>

                    <li>
                        <a href="faq.html">
                            FAQ
                        </a>
                    </li>

                    <li>
                        <a href="privacy.html">
                            Privacy Policy
                        </a>
                    </li>

                    <li>
                        <a href="terms.html">
                            Terms & Conditions
                        </a>
                    </li>

                    <li>
                        <a href="contact.html">
                            Hubungi Kami
                        </a>
                    </li>

                </ul>

            </div>


        </div>


        <div class="footer-bottom">

            <p>
                © 2026 TERAVIA NEO. All Rights Reserved.
            </p>


            <p>
                JUAL • BELI • SEWA PROPERTI SELURUH INDONESIA
            </p>

        </div>
    </div>

</footer>
