<div class="modal-overlay" id="modalOverlay">

    <div class="modal">

        <button class="modal-close" type="button">

            <span class="material-symbols-rounded">
                close
            </span>

        </button>


        <div class="modal-header">

            <h3 class="modal-title">
                Judul Modal
            </h3>

            <p class="modal-description">
                Deskripsi informasi modal.
            </p>

        </div>


        <div class="modal-body">

            <!-- Konten Modal -->

        </div>


        <div class="modal-footer">

            <button
                type="button"
                class="btn btn-outline modal-cancel">

                Batal

            </button>


            <button
                type="button"
                class="btn btn-primary modal-confirm">

                Konfirmasi

            </button>

        </div>

    </div>

</div>
