<nav class="navbar">

    <div class="container navbar-container">

        <a href="/index.html" class="navbar-brand">

            <img
                src="/assets/images/logo/logo.png"
                alt="TERAVIA NEO"
                class="navbar-logo">

            <div class="navbar-brand-text">

            </div>

        </a>

        <ul class="navbar-menu">

            <li>
                <a href="../index.html" class="active">
                    Beranda
                </a>
            </li>

            <li>
                <a href="../properties/index.html">
                    Properti
                </a>
            </li>

            <li>
                <a href="../membership/plans.html">
                    Membership
                </a>
            </li>

            <li>
                <a href="../blog/index.html">
                    Blog
                </a>
            </li>

            <li>
                <a href="../about.html">
                    Tentang
                </a>
            </li>

            <li>
                <a href="../contact.html">
                    Kontak
                </a>
            </li>

        </ul>

        <div class="navbar-action">

            <a
                href="../auth/login.html"
                class="btn-login">

                Masuk

            </a>

            <a
                href="/listing/add-property.html"
                class="btn btn-primary">

                Pasang Iklan

            </a>

        </div>

    </div>

</nav>
