<nav class="pagination" aria-label="Pagination">

    <button class="pagination-btn disabled" type="button">

        <span class="material-symbols-rounded">
            chevron_left
        </span>

    </button>


    <a href="#" class="pagination-number active">
        1
    </a>

    <a href="#" class="pagination-number">
        2
    </a>

    <a href="#" class="pagination-number">
        3
    </a>

    <span class="pagination-dots">
        ...
    </span>

    <a href="#" class="pagination-number">
        10
    </a>


    <button class="pagination-btn" type="button">

        <span class="material-symbols-rounded">
            chevron_right
        </span>

    </button>

</nav>
